<!DOCTYPE HTML>
    {{!--
        Dimension by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    --}}
<html>
<head>
    <title>WonSeok Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

{{!-- Wrapper --}}
<div id="wrapper">

    {{!-- Header --}}
    <header id="header">
        <div class="logo">
            <span class="icon fa-diamond"></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>Seo Wonseok Portfolio</h1>
                <p>안녕하세요<span class="icon fa-hand-paper-o"></span>. 열정이 가득한 신입 개발자 서원석 입니다.<br/>
                    저의 포트폴리오 홈페이지에 방문해주셔서 감사합니다. <span class="icon fa-smile-o"></span>  </p>
                <ul class="icons">
                    <li><a href="https://www.facebook.com/wonseok.seo.37" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/93.05_07/?hl=ko" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/dnjstjr0507/" class="icon fa-github"><span class="label">GitHub</span></a></li>
                </ul>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/guest">Trace</a></li>
            </ul>
        </nav>
    </header>


    <div id="main">

        {{!-- Intro --}}
        <article id="intro">
            <h2 class="major">Intro</h2>
            <span class="image main"><img src="images/pic01.jpg" alt="" /></span>
            <p>소개</p>
        </article>

        {{!-- Skills --}}
        <article id="skills">
            <h2 class="major">Skills</h2>
            <span class="image main"><img src="images/pic02.jpg" alt="" /></span>
            <p>다룰수있는 기술</p>
        </article>

        {{!-- Project --}}
        <article id="project">
            <h2 class="major">Project</h2>
            <span class="image main"><img src="images/pic03.jpg" alt="" /></span>
            <p>프로젝트</p>
        </article>

        {{!-- Contact --}}
        <article id="contact">
            <h2 class="major">Contact</h2>
            <form>
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
            </form>
            <div>
                <button type="button" class="primary" id="btn-send-mail">Send Message</button>
                <button type="reset" >Reset</button>
            </div>
        </article>
    </div>

    {{!-- Footer --}}
    <footer id="footer">
        <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>

</div>
{{!-- BG --}}
<div id="bg"></div>

{{!-- Scripts --}}
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

{{!--Custom js --}}
<script src="/js/app/mail.js"></script>
<script src="/js/app/guest.js"></script>

{{!-- Bootstrap js --}}
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>
